header {
    text-align: center;
}

#ftCalcDiv {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

#ftCalc {
}

#bandwidth {
    width: 40px;
}

#fileSize {
    width: 40px;
}

footer {
    margin-top: 20px;
    text-align: center;
}